* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.site{
    padding: 2em;
    font: 14px/1.5 Helvetica, 'sans-serif';
}

.site-header{
    display: flex;
}

.site-title{
    width: 75vw;
    text-transform: uppercase;
}

.site-nav{
    display: flex;
}

li{
    margin-left: 2em;
    list-style: none;
}

li a{
    text-decoration: none;
    color: rgb(0, 153, 0);
    font-size: 14px;
}

hr{
    border: 1px solid black;
    margin: 1em 0;
}

.site-main h1{
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-main p{
    padding: 0.5em 0;
}