html {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font: 16px/1.5 Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

.site{
    margin: 0 auto;
    max-width: 60em;
}

.title{
    font-weight: bold;
    font-size: 3em;
    line-height: 1;
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
}

main{
    width: 65%;
    float: left;
}

aside{
    width: 24%;
    margin-left: 10%;
}

hr{
    border: 1px solid black;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    font: 2em/1.2 Georgia, 'serif';
}

aside{
    float: right;
}

img{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    border-left: 2px solid lightgray;
    max-width: 40%;
    float: right;
    font-style: italic;
    padding: 0px 20px 40px 20px;
}

blockquote footer{
    text-align: right;
}
.before-quote{
    margin: 0;
    max-width: 50%;
    display: inline-block;
}

li{
    list-style-type: square;
}

li a{
    text-decoration: none;
    color: green;
}

.first-image{
    float: right;
    margin-left: 2.5%;
    outline: 3px solid black;
    padding: 7px;
}

.second-image{
    float: left;
    margin-right: 2.5%;
    outline: 3px solid black;
    padding: 7px;
}