html {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font: 16px/1.5 Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

.site{
    margin: 0 auto;
    max-width: 60em;
}

.title{
    font-weight: bold;
    font-size: 3em;
    line-height: 1;
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
}

hr{
    border: 1px solid black;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
    font: 2em/1.2 Georgia, 'serif';
}

img{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}

blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 1px solid black;
}

li a{
    text-decoration: none;
}

.first-image{
    float: right;
    margin-left: 2.5%;
    outline: 3px solid black;
    padding: 7px;
}

.second-image{
    float: left;
    margin-right: 2.5%;
    outline: 3px solid black;
    padding: 7px;
}


/* float the images in the proper directions */