body{
    padding: 0;
    margin: 0;
}

.site{
    background-color: #EEE;
}

.card{
    margin: 0 auto;
    width: 35vw;
    height: 70wh;
    border-radius: 0.4em;
    background-color: burlywood;
}

.picture{
    overflow: hidden;
}

.picture img{
    width: 35vw;
    height: auto;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
}

.text{
    padding: 2em 2.5em;
}

.text h1{
    font: 1.6em/1.2 Georgia, 'serif';
    font-weight: bold;
}

.text p{
    font-size: 1.2em;
    margin: 0.3em;
}

.text .button{
    border: none;
    background-color: red;
    border-radius: 0.3em;
    font-size: 0.75em;
    float: right;
    padding: 0;
}

.text .button a{
    text-decoration: none;
    color: white;
    padding: 0.35em 2.2em;
}