body{
    margin: 0 auto;
}

.top{
background: linear-gradient(to right, #0F52BA, #3fE0D0);
}

.bottom{
background: linear-gradient(to right, #BA55D3, #FFA500);
}

.top, .bottom{
    height: 50vh;
    width: 100vw;
}

.top img{
    width: 17vw;
   height: 20vh;
   margin: 15vh 41.5vw;
}
.bottom img{
    width: 17vw;
    height: 43vh;
    margin: 4vh 41.5vw;
}