* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (min-width: 600px) {
	.mq-width::after {
		content: 'Viewport width is larger than 600px';
	}
}

@media (min-height: 600px) {
	.mq-height::after {
		content: 'Viewport height is larger than 600px';
	}
}

@media (min-aspect-ratio: 8/5) {
	.mq-ar::after {
		content: 'Aspect ration is larger than 8/5';
	}
}