* {
    padding: 0;
    margin: 0;
}

html {
    font: 14px/1.5 "Verdana", sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
	padding: 4em;
	background: rgb(238, 238, 238);
}

.site{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    flex-wrap: wrap;
}

h2{
    flex-basis: 100%;
    margin-bottom: 1.5em;
}

article{
    border: 1px solid gray;
    width: 33%;
    /* justify-content: space-evenly; */
    border-radius: 0.65em;
}

img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: inherit;
}