*{
    padding: 0;
    margin: 0;
}

body{
}

.viewport{
    height: 100vh;
    position: relative;
    background: linear-gradient(to right, rgb(24, 90, 157), rgb(66, 205, 161));
}

.viewport:nth-child(even){
    background: linear-gradient(to right, rgb(168, 50, 121), rgb(211, 131, 18));
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    overflow: hidden;
    border-radius: 0.2em;
    width: 10em;
    box-shadow: 0 0 1.5em 0.5em rgba(0, 0, 0, 0.4);
}

.card:before{
    display: block;
    content: '';
    position: relative;
    z-index: 10;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.75) inset;
}

.card .media{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: blue;
}

.card.ar-16x9{
    width: 14em;  /* looks too thin to be the same width as the portrait picture  */
}

.card.ar-16x9:before{
    padding-top: calc( (9 / 16) * 100% );
}

.card.landscape img{
    display: block;
    width: 100%;
    height: auto;
}

.card.ar-9x16{
    width: 8 em;
}

.card.ar-9x16:before{
    padding-top: calc( (16 / 9) * 100%);
}

.card.portrait img{
    display: block;
    height: 100%;
    width: auto;
}

