* {
	padding: 0;
	margin: 0;
}

.site{
    background-color: rgb(230, 230, 230);
    max-width: 60em;
    margin: 0 auto;
}

.gallery li {
	display: inline-block;
	width: 29%;
	vertical-align: middle;
	border: 0.4rem solid black;
	padding: 0.5em;
}

.gallery img {
	width: 100%;
}