html{
    font: 16px/1.5 Arial, Helvetica, sans-serif;
    padding-left: 2em;
}

body, form, table, input, textare, option, select{
    font: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

blockquote{
    border-left: 2px solid rgb(221, 221, 221);
    padding-left: 2em;
    font-style: italic;
}

cite{
    padding-right: 3em;
}

.author{
    text-align: right;
}

table{
    border-collapse: collapse;
    width: 60em;
}

thead{
    background-color: rgb(210, 210, 210);
}

th, td{
    width: 33%;
    text-align: left;
    padding-left: 0.5em;
}

td, thead {
    border: 1px solid gray;
}

tbody tr:nth-child(2n) {
    background-color: rgb(230, 230, 230);
}

tbody tr:nth-child(2n + 1) {
    background-color: rgb(255, 255, 255)
}

