html{
    font: 16px/1.5 Arial, Helvetica, sans-serif;
}

body, form, table, input, textare, option, select{
    font: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

blockquote{
    border-left: 2px solid rgb(221, 221, 221);
    padding-left: 2em;
    font-style: italic;
}