html{
    background-color: rgb(231, 231, 231);
}

.site{
    font: 16px/1.5 Helvetica, 'sans-serif';
    margin: 0 auto;
    max-width: 60em;
}

.site-title{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}

blockquote{
    color: grey;
    margin: 0;
    max-width: 40%;
    float: right;
    border-left: 2px solid lightgrey;
    font-style: italic;
    padding: 0px 20px 60px 20px;
}

blockquote footer{
    text-align: right;
}

img{
    border: 3px solid black;
    padding: 7px;
}

.firstpic{
    float: right;
    margin-left: 2.5%;
}

.secondpic{
    float: left;
    margin-right: 2.5%;
}
