* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.site{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    padding: 1rem;
    border-bottom: 3px solid gray;
    font: 32px sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

h2{
    padding: 1rem;
    font-weight: bold;
    font: 24px serif;
}

p{
    padding: 0.6em 0.6em 0.6em 1rem;
    font: 15px/1.2 sans-serif;
}

footer{
    background-color: rgb(100, 100, 100);
    color: white;
    padding: 0.62em 1rem; 
}