body{
    margin: 0;
    padding: 0;
    background-color: #EEE;
    
}

.site{
    width: 60em;
    margin: 0 auto;
}

.site-header{
    padding-top: 2em;
}

.title{
    display: inline-block;
    width: 60%;
    font-size: 2em;
    font-style: Helvetica, Ariel, sans-serif;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.1em 0.3em;
}

nav{
    display: inline-block;
    width: 37%;
    vertical-align: top;
}

nav ul{
    margin: 4px;
}

nav li{
    list-style: none;    
    display: inline-block;
    padding: 0 1em;
}

nav a{
    text-decoration: none;
    color: darkgreen;
}

aside a{
    color: darkgreen;
    text-decoration: none;
}

hr{
    border: 1px solid black;    
    margin: 0;
}