body{
    margin: 0;
    padding: 0;
}

.site{
    background-color: #EEE;
}

.title{
    font-size: 2em;
    font-style: Helvetica, Ariel, sans-serif;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

aside a{
    color: darkgreen;
    text-decoration: none;
}