* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, ul, li{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

li{
    width: 32%;
    height: 32%;
    margin: 0.1em;
}