* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.gallery{
    padding: 4em;
    margin: 0 auto;
}

body, ul, li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    box-sizing: border-box;
    width: 31%;
    height: 31%;
    margin: 0.5em;
    border: 1px solid black;
    padding: 0.1em;
}

img .landscape{
    height: 30%;
    width: auto;
    padding: 2em;
}

.portrait{
    width: 90%;
    height: auto;
    padding: 2em;
}

.square{
    width: 90%;
    height: 90%;
}