* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.gallery{
    padding: 4em;
    margin: 0 auto;
    background-color: rgb(233,233,233);
}

body, ul, li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    display: flex;
    box-sizing: border-box;
    width: 31%;
    height: 31%;
    margin: 0.5em;
    border: 3px solid black;
    padding: 0.1em;
    box-shadow: 10px 10px (0, 0, 0, 0.2);
}

.landscape{
    height: 30%;
    width: auto;
}

.portrait{
    width: 90%;
    height: auto;
}

.square{
    width: 90%;
    height: 90%;
}