* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page{
    padding: 4em;
    background-color: rgb(238, 238, 238);
}

hr{
    border-top: 2px solid black;
    margin: 1.5em 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}

main p{
    font: 14px/1.5 Arial, Helvetica sans-serif;
    padding-top: 0.5em;
}

ul{
    list-style: none;
}

.site-title{
    display: block;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-transform: uppercase;
    font-weight: bolder;
}

.content{
    display: flex;
    flex-wrap: wrap;
}

.site-main{
    flex: 0 0 55em;
}

.site-aside{
    flex: 0 1 10em;
    padding-left: 2em;
}

.first-image {
    float: right;
    padding: 5px;
    border: 3px solid black;
    margin-left: 1.5em;
    max-width: 100%;
}

.second-image {
    float: left;
    padding: 5px;
    border: 3px solid black;
    margin-right: 1.5em;
    max-width: 100%;
}